@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  border-style: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

:root{
    --white: #FFFFFF;
    --black: #000000;
    --darkpurple: #230b41;
    --semidarkpurple: #523762; 
    --lightpurple: #ae9fcf;
    --pink: #ffd4e1;
    --peach: #F8D5C6;
    --teal: #A0D6D3;
    --red: #CF3535;
    --green: #28a745;
  }

.graph-main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.graph-container{
    margin-top: 20px;
    width: 90%;
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px; */
}

.graph-container-one{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 90%;
    height: 50vh;
    align-items: center;
    justify-content: center;
} 

.graph-user{
    height: 40vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.graph-user-total{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 40vh;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.graph-user-non-strand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 19vh;
    width: 100%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.graph-user-non-strand h1{
    font-size: 15px;
}

.graph-user-total h1{
    font-size: 20px;
}

.graph-demographic{
    height: 40vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}



#demographicChart{
    height: 20px;
    width: 20px;
}

.graph-demographic h1{
    font-size: 20px;
    width: 85%;
}
.graph-strands{
    height: 40vh;
    width: 50%;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.strand-title{
    width: 85%;
}

.strand-title h1{
    font-size: 18px;
    margin-top: 15px;
}

.strand-infos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40vh;
}

.total-summary{
    width: 80%;
    border-radius: 20px;
    background-color: #230b41;
    height: 6vh;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
}

.no-summary{
    width: 90%;
    border-radius: 20px;
    background-color: #AE9FCF;
    height: 6vh;
    display: flex;  
    justify-content: center;
    align-items: center;
    color: white;
}

.stem-summary{
    width: 80%;
    border-radius: 20px;
    background-color: #230b41;
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
}

.abm-summary{
    width: 80%;
    border-radius: 20px;
    background-color: #523762; 
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
}

.humss-summary{
    width: 80%;
    border-radius: 20px;
    background-color: #AE9FCF;
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
}

.tvl-summary{
    width: 80%;
    border-radius: 20px;
    background-color: #ffd4e1;
    height: 6vh;
    display: flex;
    align-items: center;
    color: white;
}

.stem-summary h2, .abm-summary h2, .humss-summary h2, .tvl-summary h2, .total-summary h2, .no-summary h2{
    text-align: center;
    width: 60%;
    font-size: 16px;
}

.summary-container{
    width: 50%; 
    display: flex;
    align-items: end;
    justify-content: center;
}
.summary-bg{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summary-bg h2{
    font-size: 15px;
    color: black;
    text-align: center;
}

.summary-bg span{
    color: black;
    font-weight: bold;
}

.graph-per-programs{
    width: 90%;
    height: 50vh;
    background-color: var(--white);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.programs-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}




.graph-programs h1{
    font-size: 20px;    
}

#myChart{
    width: 1100px;
}

.download {
    position: fixed;
    bottom: 25px;  /* Adjust this value to your desired distance from the bottom */
    right: 25px;   /* Adjust this value to your desired distance from the right */
    z-index: 1000;
    padding: 10px 15px;  /* Optional: add padding for button size */
    background-color: var(--green);  /* Optional: style for the button */
    color: var(--white);   /* Optional: text color */
    border-radius: 30%;  /* Optional: rounded corners */
    text-align: center;  /* Center the text */
    border: none;
    cursor: pointer;  /* Change cursor to pointer when hovering over */
}

.download i{
    font-size: 30px;
}
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    bottom: 20%; /* Position above the button */
    left: -125%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.download:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

table {
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #000;
    padding: 10px; /* Consistent cell spacing */
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center; /* Align headers to center */
}

table .th-first, .td-first{
    text-align: start;
}

table tbody td {
    text-align: center; /* Align table data to center */
}

table tbody tr td[colspan="2"] {
    text-align: center; /* Align centered cells properly */
}

.report-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

#report h4{
    margin-left: 5px;
    margin-top: 30px;
    color: var(--green);
}


@media print {
    body {
        width: auto;
        margin: 0;
    }

    table {
        width: 70% !important; /* Force a smaller width for print */
        margin: 0 auto; /* Center the table on the page */
    }
}
