
<link rel="stylesheet" href="/static/css/sidebar.css">
<div class = "login-container-back">
    <div class ="login-container">
        <form action="/login" method="POST">
            <img src="/static/images/admin/sanlo-logo.jpg" alt="">
            <h2>Welcome, Admin! Please log in to manage programs, view data, and update information.</h2>
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
        
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
        
            <div>
                <input type="submit" value="Login">
            </div>
        </form>  
    </div>
</div>