{% extends 'navigation.html' %} {% block content %}

<link rel="stylesheet" href="/static/css/program-info.css">
    <div class = "program-main">
        <div class = "program-container">
            <div class = "program-panel">
                <div class = "panel-info-container">
                    <div class = "panel-info">
                        <h2>Bachelor of Science</h2>
                        <h1>CIVIL ENGINEERING</h1>
                        <p>An intensive degree 
                            program that prepares 
                            students with the technical 
                            knowledge and practical skills 
                            required to design, construct, 
                            and maintain infrastructure projects.
                        </p>
                        <div class = "panel-skills">
                            <p>Analytical and Mathematical</p>
                            <p>Structural Analysis</p>
                            <p>Problem Solving</p>
                        </div>
                    </div>
                </div>

                <img src="/static/images/recommender/programs/civileng-logo.svg" alt="">
            </div>

            <div class = "program-explore-container">
                <div class = "explore-navs">
                    <h1>Explore This Program</h1>
                    <div class = "explore-line"></div>
                    <button>Overview <img src="/static/images/programs/explore-arrow.svg" alt=""></button>
                    <div class = "explore-line"></div>
                    <button>Benefits <img src="/static/images/programs/explore-arrow.svg" alt="" ></button>
                    <div class = "explore-line"></div>
                    <button>Career Paths <img src="/static/images/programs/explore-arrow.svg" alt="" ></button>
                    <div class = "explore-line"></div>
                    <button>Conclusion <img src="/static/images/programs/explore-arrow.svg" alt=""></button>
                    <div class = "explore-line"></div>
                </div>

                <div class = "explore-general">
                    <div id = "overview" class = "general-introduction">
                        <h1>Overview</h1>
                        <div class = "explore-line"></div>
                        <br>

                        <p><b>Bachelor of Science in Civil Engineering (BSCE)</b> is a rigorous and comprehensive degree program that prepares students to design, construct, and maintain the infrastructure that supports modern society. This program combines in-depth knowledge of engineering principles with practical applications in planning and constructing structures such as buildings, roads, bridges, and water systems. Civil engineering is one of the oldest engineering disciplines and plays a crucial role in developing safe, sustainable, and resilient infrastructure.
                            <br> <br>
                            Students in a BSCE program learn about structural analysis, materials science, fluid mechanics, geotechnics, and environmental engineering. Through hands-on labs, projects, and internships, students gain practical experience that prepares them for real-world challenges. Graduates of this program are equipped to make critical contributions to infrastructure development and improvement, impacting communities and the environment.
                            <br> <br>
                        </p>
                    </div>

                    <div id = "benefits" class = "general-introduction">
                        <h1>Benefits</h1>
                        <div class = "explore-line"></div>
                        <br>

                        <p>
                            Pursuing a <b>Bachelor of Science in Civil Engineering </b>offers several benefits: 
                            <br> <br>

                            <b>High Demand for Engineers</b>: Civil engineers are in demand 
                            globally, particularly in areas with growing infrastructure needs.

                            <br> <br>
                            <b>Diverse Career Opportunities</b>: Graduates can work in various 
                            fields, including construction, transportation, environmental
                            engineering, and urban planning.

                            <br> <br>
                            <b>Impactful Work</b>: Civil engineers play a vital role 
                            in shaping communities, improving quality of life, and 
                            contributing to sustainable development.

                            <br> <br>
                            <b>Strong Earning Potential</b>: Civil engineering 
                            positions often come with competitive salaries and 
                            benefits.

                            <br> <br>
                            <b>Hands-on Experience</b>: Many programs include 
                            practical projects and internships, providing 
                            real-world experience and industry connections.

                            <br> <br>
                            <b>Pathway to Professional Licensure</b>: The BSCE degree 
                            is a necessary step for becoming a licensed Professional 
                            Engineer (PE), which enhances credibility and career prospects.
                            long-term stability.

                            <br> <br>
                            <b>Foundation for Specialization</b>: Civil engineering 
                            offers specializations in areas such as structural, 
                            environmental, and geotechnical engineering, 
                            providing graduates with flexible career options.
                        </p>
                    </div>

                    <div id = "careerpaths" class = "general-introduction">
                        <h1>Career Paths</h1>
                        <div class = "explore-line"></div>
                        <br>

                        <p>
                            Graduates with a <b>Bachelor of Science in Civil Engineering</b> can pursue various roles, including but not limited to:

                            <br> <br>

                            <b>Structural Engineer</b>: Designing and analyzing structures to ensure they are safe, stable, and durable.
                            <br> <br>
                            <b>Geotechnical Engineer</b>: Working with soil and rock mechanics to determine foundation stability and address subsurface challenges.
                            <br> <br>
                            <b>Transportation Engineer</b>: Planning and designing transportation systems, including roads, bridges, airports, and railways.
                            <br> <br>
                            <b>Environmental Engineer</b>: Developing solutions to environmental issues, such as water treatment and waste management, to promote sustainability.
                            <br> <br>
                            <b>Construction Manager</b>: Overseeing construction projects to ensure they are completed safely, on time, and within budget.
                            <br> <br>
                            <b>Water Resources Engineer</b>: Designing systems for water supply, flood control, and wastewater management.
                            <br> <br>
                            <b>Urban Planner</b>: Collaborating with local governments to develop infrastructure and improve land use in urban and rural areas.
                            <br> <br>
                            <b>Project Engineer</b>: Coordinating the engineering aspects of construction projects, ensuring compliance with design specifications.
                            <br> <br>
                            <b>Consulting Engineer</b>: Providing expert advice on projects, often working independently or with engineering firms.
                        </p>
                    </div>

                    <div id = "conclusion" class = "general-introduction">
                        <h1>Conclusion</h1>
                        <div class = "explore-line"></div>
                        <br>

                        <p>The <b>Bachelor of Science in Civil Engineering</b> is a valuable degree that equips students with the knowledge and skills to design, build, and maintain essential infrastructure. Graduates are prepared to tackle the challenges of urbanization, environmental sustainability, and safety, making a significant impact on communities and the built environment. With a strong foundation in both theoretical knowledge and practical experience, BSCE graduates are well-positioned for fulfilling careers that improve the quality of life for people around the world.
                        </p>
                    </div>

                </div>

                <div class = "explore-day">
                    <div class = "day-container">
                        <img src="/static/images/programs/strength.svg" alt="">
                        <h2>Strengths</h2>
                        
                        <ol>
                            <li>High demand</li>
                            <li>Hands-on fieldwork</li>
                            <li>Tangible Project Impact</li>
                            <li>Good Salary</li>

                        </ol>

                        <br>

                        <img src="/static/images/programs/weakness.svg" alt="">
                        <h2>Weaknesses</h2>
                        
                        <ol>
                            <li>Physically demanding</li>
                            <li>Strict regulatory requirements</li>
                            <li>Weather-dependent job sites</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".explore-navs button");
    const sections = document.querySelectorAll(".general-introduction");

    function hideAllSections() {
        sections.forEach(section => {
            section.style.display = "none";
        });
    }

    function removeActiveClass() {
        buttons.forEach(button => {
            button.classList.remove("active");
        });
    }

    buttons.forEach(button => {
        button.addEventListener("click", () => {
            const targetId = button.textContent.trim().toLowerCase().replace(" ", "");

            hideAllSections(); 
            document.getElementById(targetId).style.display = "block"; 
            
            removeActiveClass(); 
            button.classList.add("active");
        });
    });

    hideAllSections();
    document.getElementById("overview").style.display = "block";
    buttons[0].classList.add("active"); 
});

</script>
{% endblock %}