{% extends 'navigation.html' %} {% block content %}

<link rel="stylesheet" href="/static/css/program-info.css">
    <div class = "program-main">
        <div class = "program-container">
            <div class = "program-panel">
                <div class = "panel-info-container">
                    <div class = "panel-info">
                        <h2>Bachelor of Science</h2>
                        <h1>ELECTRONIC ENGINEERING</h1>
                        <p>A focused degree program that prepares 
                            students with the principles of electronics, 
                            embedded systems, and communication technologies 
                            for a variety of applications.
                        </p>
                        <div class = "panel-skills">
                            <p>Mathematical Proficiency</p>
                            <p>Problem Solving</p>
                            <p>Collaboration</p>
                        </div>
                    </div>
                </div>

                <img src="/static/images/recommender/programs/elecengineering-logo.svg" alt="">
            </div>

            <div class = "program-explore-container">
                <div class = "explore-navs">
                    <h1>Explore This Program</h1>
                    <div class = "explore-line"></div>
                    <button>Overview <img src="/static/images/programs/explore-arrow.svg" alt=""></button>
                    <div class = "explore-line"></div>
                    <button>Benefits <img src="/static/images/programs/explore-arrow.svg" alt="" ></button>
                    <div class = "explore-line"></div>
                    <button>Career Paths <img src="/static/images/programs/explore-arrow.svg" alt="" ></button>
                    <div class = "explore-line"></div>
                    <button>Conclusion <img src="/static/images/programs/explore-arrow.svg" alt=""></button>
                    <div class = "explore-line"></div>
                </div>

                <div class = "explore-general">
                    <div id = "overview" class = "general-introduction">
                        <h1>Overview</h1>
                        <div class = "explore-line"></div>
                        <br>

                        <p><b>Bachelor of Science in Electronic Engineering</b> program is designed to equip students with a solid foundation in the principles and applications of electronic systems and technologies. This program covers a broad range of topics, including circuit design, microelectronics, telecommunications, embedded systems, and signal processing. Students learn both theoretical concepts and practical skills through hands-on laboratory experiences, projects, and internships.
                            <br> <br>
                            The curriculum typically includes courses in digital and analog electronics, control systems, electrical circuits, and computer engineering. Graduates of this program are prepared to work in various industries, including telecommunications, robotics, consumer electronics, and renewable energy.
                            <br> <br>
            
                        </p>
                    </div>

                    <div id = "benefits" class = "general-introduction">
                        <h1>Benefits</h1>
                        <div class = "explore-line"></div>
                        <br>

                        <p>
                            Pursuing a <b>Bachelor of Science in Electronic Engineering</b> offers several benefits: 
                            <br> <br>

                            <b>Diverse Career Opportunities</b>: Graduates can work in various sectors, 
                            including telecommunications, aerospace, automotive, and healthcare.

                            <br> <br>
                            <b>High Demand for Engineering</b>: The electronics and technology sectors 
                            continue to grow, leading to a strong demand for skilled electronic engineers.

                            <br> <br>
                            <b>Hands-on Experience</b>: The program includes practical laboratory 
                            work and projects, providing students with real-world experience.

                            <br> <br>
                            <b>Foundation for Advanced Studies</b>: Graduates can pursue advanced 
                            degrees in electrical engineering, computer engineering, or related 
                            fields.

                            <br> <br>
                            <b>Innovation and Impact</b>: Electronic engineers have the opportunity 
                            to work on cutting-edge technologies that can transform industries and 
                            improve lives.

                            <br> <br>
                            <b>Competitive Salaries</b> Careers in electronic engineering often 
                            come with attractive salary packages due to the specialized skills 
                            required.

                            <br> <br>
                            <b>Global Opportunities</b> The skills acquired in this program are in 
                            demand worldwide, allowing for potential international career opportunities.
                        </p>
                    </div>

                    <div id = "careerpaths" class = "general-introduction">
                        <h1>Career Paths</h1>
                        <div class = "explore-line"></div>
                        <br>

                        <p>
                            Graduates with a <b>Bachelor of Science in Education</b> can pursue various roles, including but not limited to:

                            <br> <br>

                            <b>Electronics Engineer</b>: Designing and developing electronic circuits, systems, and devices.
                            <br> <br>
                            <b>Embedded Systems Engineer</b>: Creating software and hardware solutions for embedded systems in consumer electronics, automotive, and industrial applications.
                            <br> <br>
                            <b>Telecommunications Engineer</b>: Working on communication systems, including mobile networks, satellite communications, and internet technology.
                            <br> <br>
                            <b>Control Systems Engineer</b>: Designing and implementing control systems for industrial automation and robotics.
                            <br> <br>
                            <b>Signal Processing Engineer</b>: Analyzing and manipulating signals for applications in audio, video, and telecommunications.
                            <br> <br>
                            <b>Field Service Engineer</b>: Providing technical support and maintenance for electronic equipment and systems.
                            <br> <br>
                            <b>Systems Engineer</b>: Overseeing the integration of electronic systems and components in various projects.
                            <br> <br>
                            <b>Research and Development Engineer</b>: Conducting research to develop new electronic technologies and improve existing products.
                            <br> <br>
                            <b>Quality Assurance Engineer</b>: Testing and ensuring the quality and reliability of electronic devices and systems.
                        </p>
                    </div>

                    <div id = "conclusion" class = "general-introduction">
                        <h1>Conclusion</h1>
                        <div class = "explore-line"></div>
                        <br>

                        <p>The <b>Bachelor of Science in Electronics Engineering</b> is a comprehensive program that prepares students for successful careers in the dynamic field of electronics. By acquiring a strong foundation in engineering principles, circuit design, and practical skills, graduates are well-equipped to tackle complex challenges in various industries. With the opportunity to work on innovative projects and make a significant impact in technology, those who complete this program are positioned for rewarding and fulfilling careers in electronic engineering.
                        </p>
                    </div>

                </div>

                <div class = "explore-day">
                    <div class = "day-container">
                        <img src="/static/images/programs/strength.svg" alt="">
                        <h2>Strengths</h2>
                        
                        <ol>
                            <li>High-tech industry demand</li>
                            <li>Skills in innovation</li>
                            <li>High earning potential</li>

                        </ol>

                        <br>

                        <img src="/static/images/programs/weakness.svg" alt="">
                        <h2>Weaknesses</h2>
                        
                        <ol>
                            <li>Requires strong math skills</li>
                            <li>Demanding curriculum</li>
                            <li>High need for precision</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".explore-navs button");
    const sections = document.querySelectorAll(".general-introduction");

    function hideAllSections() {
        sections.forEach(section => {
            section.style.display = "none";
        });
    }

    function removeActiveClass() {
        buttons.forEach(button => {
            button.classList.remove("active");
        });
    }

    buttons.forEach(button => {
        button.addEventListener("click", () => {
            const targetId = button.textContent.trim().toLowerCase().replace(" ", "");

            hideAllSections();
            document.getElementById(targetId).style.display = "block";
            
            removeActiveClass(); 
            button.classList.add("active");
        });
    });

    hideAllSections();
    document.getElementById("overview").style.display = "block";
    buttons[0].classList.add("active"); 
});

</script>
{% endblock %}