{% extends 'navigation.html' %} {% block content %}

<link rel="stylesheet" href="/static/programs.css">

<div class = "program-container">
    <div class = "program-infos">
        <h1>Explore the <span>Programs</span> Offered</h1>
        <div class = "program-filter">
            <p>FILTER:</p>
            <select id="program-filter" onchange = "filterItems()">
                <option value="all">All</option>
                <option value="stem">STEM</option>
                <option value="abm">ABM</option>
                <option value="humss">HUMSS</option>
                <option value="tvl">TVL</option>
            </select>
        </div>
    </div>

    <div class="program-card-container" id="program-items">
        <div class = "grid-container">
            {% for program in programs %}
    <div class="item {% if program['category'] %}
                    {% for category in program['category'] %}
                        {{ category }}
                    {% endfor %}
                    {% endif %}">
        <a href="{{ url_for('program_details', program_name=program['name']) }}" target="_blank">
            <div class="program-cards">
                <img src="{{ program['image_url'] }}" alt="{{ program['name'] }} logo">
                <h1>{{ program['name'] }}</h1>
            </div>
        </a>
        
    </div>
    {% endfor %}
</div>
    </div>
</div>
{% endblock %}