{% extends 'navigation.html' %} {% block content %}

<script src="https://smtpjs.com/v3/smtp.js"></script>

<script src = "/static/js/index.js"></script>

<div class="r-container">
  <div class="r-content" id = "r-content">
    <div class="r-left-info">
      <div class = "r-left-information">
        <h2>TAKE THE TEST</h2>
        <h1>Find the Best Path for Your Future</h1>
        <p>Take the test to match with programs tailored 
          your strengths and ambitions</p>
          <br>
          <div>
            <button onclick = "hideContent()">START NOW</button>
          </div>
        <span>Find the program that fits your strengths and goals with a quick 5-minute test! Get started now.</span>
      
      </div>
    </div>
    <div class="r-right-info">
      <img class="r-right-picture" src="/static/images/recommender/recom-image.svg" alt="">
    </div>
  </div>

  <div class= "r-questions-content" id = "r-questions">
    <form action="" id="prediction-form">
      {% for question in questions %}
<div id="question-{{ question['question_id'] }}" class="hidden">
    <div class="r-questions">
        <h1>{{ question['question'] }}</h1>
        <div class="r-buttons">
            {% for option in question['options'] %}
            <button style="font-size: 15px; width: 170px; height: 90px;"
                    type="button"
                    data-field="{{ question['data_field'] }}"
                    data-value="{{ option['value'] }}"
                    onclick="nextQuestion(event, '{{ question['question_id'] }}')">
                {{ option['label'] }}
            </button>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
    </form>
  </div>

  <div id="loader-container">
    <div id="loader"></div>
    <p id = "loader-msg">Preparing...</p>
  </div>
</div>

<div class = "r-begin-container" id = "r-begin">
  <div class = "r-begin" >
    <div class = "r-begin-info">
      <div class = "r-begin-infos">
        <div class = "r-begin-infos-cancel">
          <h1 onclick="cancel()">x</h1>
        </div>
        <img src="/static/images/recommender/questionmark.svg" alt="">
        <p>Each question must be answered in sequence, and there is
          no option to return to previous questions or change your 
          answers after submission.</p>
        <button onclick= "begin()" >Proceed</button>
      </div>
    </div>
  </div>
</div>

<div class = "r-result-content" id = "r-result">
  <div class = "r-result-info">
    <div class = "r-result-left">
      <h1>RECOMMENDED</h1>
      <h2>FOR YOU</h2>
      <span style = "margin-top: 5px;" class = "r-result-left-line"></span>
        <div class  = "r-result-programs">
          <div class = "r-result-programs-container-two">
            <img src="/static/images/recommender/top-two.svg" alt="">
            <p id = "top-two" onclick="two()" ></p>
          </div>

          <div class = "r-result-programs-container-one">
            <img src="/static/images/recommender/top-one.svg" alt="">
            <p id = "top-one" onclick="one()"></p>
          </div>

          <div class = "r-result-programs-container-three">
            <img src="/static/images/recommender/top-three.svg" alt="">
            <p id = "top-three" onclick="three()"></p>
          </div>
        
        </div>
      <span class = "r-result-left-line"></span>
      <div class = "r-result-program-def">
        <p id = "result-info"></p>
      </div>
      <span class = "r-result-left-line"></span>
      <div class = "r-result-left-buttons">
        <button onclick = "hideContentAgain()" >Take again<img src="/static/images/recommender/retry.svg" alt=""> </button>
        <button onclick = "toggleEmail()"> Send a copy<img src="/static/images/recommender/send.svg" alt=""></button>
        <button onclick = "getHref()" >More info<img src="/static/images/recommender/info.svg" alt=""> </button>
      </div>
    </div>
    <div class = "r-result-right">
      <div class = "r-result-right-two">
        <img id = "result-image-one">
      </div>
      <div class = "r-result-right-one">
        <img id = "result-image-two">
      </div>
    </div>
  </div>
</div>

<div class = "float-email-container" id = "float-email">
  <div class = "float-email">
    <div class = "float-email-nav">
      <img onclick = "toggleEmail()" src="/static/images/recommender/cross.svg" alt="">
    </div>  
    <form action="/send-email" method="post" id="emailForm" onsubmit="return validateEmail()">
      <input type="text" placeholder="Enter your email" name="email" id="emailInput">
      <input type="submit" value="submit">
    </form>
  </div>
</div>


<h1 id="total-questions" data-total="{{ total_questions }}" style = "display: none;"></h1>
{% endblock %}
